html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }

.cs-slider{
    height: 25px;
    position: relative;
    background: #ccc;
    }
    .cs-slider_progress{
        position: absolute;
        height: 100%;
        background: #ff9856;
    }
    .cs-slider_handle{
        width: 100px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        background: lightskyblue;
        color: #fff;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }

